<div>
    <h2 id="page-heading">
        <span jhiTranslate="timesuponlineApp.mot.home.title">Mots</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-mot" [routerLink]="['/mot/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="timesuponlineApp.mot.home.createLabel">
            Create a new Mot
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="mots?.length === 0">
        <span jhiTranslate="timesuponlineApp.mot.home.notFound">No mots found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="mots?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="timesuponlineApp.mot.mot">Mot</span></th>
                    <th scope="col" ><span jhiTranslate="timesuponlineApp.mot.etat">Etat</span></th>
                    <th scope="col" ><span jhiTranslate="timesuponlineApp.mot.auteur">Auteur</span></th>
                    <th scope="col" ><span jhiTranslate="timesuponlineApp.mot.partie">Partie</span></th>
                    <th scope="col" ><span jhiTranslate="timesuponlineApp.mot.tourDeJeu">Tour De Jeu</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let mot of mots ;trackBy: trackId">
                    <td><a [routerLink]="['/mot', mot.id, 'view']">{{ mot.id }}</a></td>
                    <td>{{ mot.mot }}</td>
                    <td jhiTranslate="{{ 'timesuponlineApp.EtatMot.' + mot.etat }}">{{ mot.etat }}</td>
                    <td>
                        {{ mot.auteur?.login }}
                    </td>
                    <td>
                        <div *ngIf="mot.partie">
                            <a [routerLink]="['/partie', mot.partie?.id, 'view']" >{{ mot.partie?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="mot.tourDeJeu">
                            <a [routerLink]="['/tour-de-jeu', mot.tourDeJeu?.id, 'view']" >{{ mot.tourDeJeu?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/mot', mot.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/mot', mot.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(mot)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
