<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-reclamation-heading" jhiTranslate="timesuponlineApp.reclamation.home.createOrEditLabel">Create or edit a Reclamation</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="timesuponlineApp.reclamation.etat" for="field_etat">Etat</label>
                    <select class="form-control" name="etat" formControlName="etat" id="field_etat">
                        <option value="EMISE">{{ 'timesuponlineApp.EtatReclamation.EMISE' | translate }}</option>
                        <option value="ACCEPTEE">{{ 'timesuponlineApp.EtatReclamation.ACCEPTEE' | translate }}</option>
                        <option value="REFUSEE">{{ 'timesuponlineApp.EtatReclamation.REFUSEE' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('etat')!.invalid && (editForm.get('etat')!.dirty || editForm.get('etat')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('etat')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="timesuponlineApp.reclamation.auteur" for="field_auteur">Auteur</label>
                    <select class="form-control" id="field_auteur" name="auteur" formControlName="auteur">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('auteur')!.value?.id ? editForm.get('auteur')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="timesuponlineApp.reclamation.mot" for="field_mot">Mot</label>
                    <select class="form-control" id="field_mot" name="mot" formControlName="mot">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="motOption.id === editForm.get('mot')!.value?.id ? editForm.get('mot')!.value : motOption" *ngFor="let motOption of mots; trackBy: trackById">{{ motOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
