<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-partie-heading" jhiTranslate="timesuponlineApp.partie.home.createOrEditLabel">Create or edit a Partie</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="timesuponlineApp.partie.intitule" for="field_intitule">Intitule</label>
                    <input type="text" class="form-control" name="intitule" id="field_intitule"
                           formControlName="intitule"/>
                    <div *ngIf="editForm.get('intitule')!.invalid && (editForm.get('intitule')!.dirty || editForm.get('intitule')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('intitule')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('intitule')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 100 }">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="timesuponlineApp.partie.dateCreation" for="field_dateCreation">Date Creation</label>
                    <div class="input-group">
                        <input id="field_dateCreation" type="text" class="form-control" name="dateCreation" ngbDatepicker #dateCreationDp="ngbDatepicker" formControlName="dateCreation"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateCreationDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="timesuponlineApp.partie.phase" for="field_phase">Phase</label>
                    <select class="form-control" name="phase" formControlName="phase" id="field_phase">
                        <option value="CREEE">{{ 'timesuponlineApp.PhasePartie.CREEE' | translate }}</option>
                        <option value="RECRUTEMENT">{{ 'timesuponlineApp.PhasePartie.RECRUTEMENT' | translate }}</option>
                        <option value="CHOIX_MOTS">{{ 'timesuponlineApp.PhasePartie.CHOIX_MOTS' | translate }}</option>
                        <option value="MANCHE_1">{{ 'timesuponlineApp.PhasePartie.MANCHE_1' | translate }}</option>
                        <option value="MANCHE_2">{{ 'timesuponlineApp.PhasePartie.MANCHE_2' | translate }}</option>
                        <option value="MANCHE_3">{{ 'timesuponlineApp.PhasePartie.MANCHE_3' | translate }}</option>
                        <option value="TERMINEE">{{ 'timesuponlineApp.PhasePartie.TERMINEE' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('phase')!.invalid && (editForm.get('phase')!.dirty || editForm.get('phase')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('phase')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="timesuponlineApp.partie.nbMots" for="field_nbMots" [ngbTooltip]="'timesuponlineApp.partie.help.nbMots' | translate">Nb Mots</label>
                    <input type="number" class="form-control" name="nbMots" id="field_nbMots"
                           formControlName="nbMots"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="timesuponlineApp.partie.tempsSablier" for="field_tempsSablier">Temps Sablier</label>
                    <input type="number" class="form-control" name="tempsSablier" id="field_tempsSablier"
                           formControlName="tempsSablier"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="timesuponlineApp.partie.master" for="field_master">Master</label>
                    <select class="form-control" id="field_master" name="master" formControlName="master">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('master')!.value?.id ? editForm.get('master')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="timesuponlineApp.partie.joueur" for="field_joueurs">Joueur</label>
                    <select class="form-control" id="field_joueurs" multiple name="joueurs" formControlName="joueurs">
                        <option [ngValue]="getSelected(editForm.get('joueurs')!.value, userOption)" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
