<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-tour-de-jeu-heading" jhiTranslate="timesuponlineApp.tourDeJeu.home.createOrEditLabel">Create or edit a Tour De Jeu</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="timesuponlineApp.tourDeJeu.tempsRestant" for="field_tempsRestant">Temps Restant</label>
                    <div class="d-flex">
                        <input id="field_tempsRestant" type="datetime-local" class="form-control" name="tempsRestant" formControlName="tempsRestant" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="timesuponlineApp.tourDeJeu.dateDebute" for="field_dateDebute">Date Debute</label>
                    <div class="d-flex">
                        <input id="field_dateDebute" type="datetime-local" class="form-control" name="dateDebute" formControlName="dateDebute" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="timesuponlineApp.tourDeJeu.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="timesuponlineApp.tourDeJeu.partie" for="field_partie">Partie</label>
                    <select class="form-control" id="field_partie" name="partie" formControlName="partie">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="partieOption.id === editForm.get('partie')!.value?.id ? editForm.get('partie')!.value : partieOption" *ngFor="let partieOption of parties; trackBy: trackById">{{ partieOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
